.pagination {
	display: flex;
	justify-content: center;
	gap: 25px;
	position: sticky;
	bottom: 0;
	height: fit-content;
	background-color: white;
	padding: 20px;
}

.pagination>div {
	cursor: pointer;
	height: 2em;
	width: 2em;
	border-radius: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 800;

}

.paginationActive {
	border: 1px solid blue;
	color: blue;
}

.pagination>div:hover {
	background-color: rgba(211, 211, 211, 0.3);
}

div.paginationActive:hover {
	background-color: transparent;
}

@media screen and (max-width: 425px) {
    .pagination {
		gap: 10px
	}
}