* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  border: none;
  background: none;
  font-size: 1vw;
  font-family: 'Courier New', Courier, sans-serif;
}



.wrapper {
  display: flex;
  flex-direction: column;
}

.container-products {
  margin: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  * {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 768px) {
  * {
    font-size: 2vw;
  }
}

@media screen and (max-width: 425px) {
  * {
    font-size: 4vw;
  }
  
  .container-products {
  	justify-content: center;
    gap: 10px;
  }
}